body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
    max-width: 1312px;
    margin: auto;
}

hr {
    height: 1px;
    border: none; 
    background-color: #000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav__logo {
    border: solid black 2px;
    font-family: Bahn Pro Regular;
    font-size: 30px;
    height: fit-content;
    width: 100px;
    text-align: center;
}

.nav__lista {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 50%;
    padding: 0;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 1em;
}

.nav__item {
    list-style: none;
    margin: auto;
    padding: 10px;
    transform: scale(.8);
}

.nav__enlace {
    text-decoration: none;
    color: #000;
}

.nav__iconos {
    display: flex;
    gap: 15px;
    scale: 1.2;
}

.nav__lista2 {
    display: flex;
    padding: 15px;
    gap: 15px;
    padding-right: 5px;
}

.nav__item2 {
    list-style: none;
}

.espacios_en_nav {
    margin-bottom: 40px;
}

header {
    margin: auto;
}

.tituloo {
    font-size:96px;
    font-weight: 500;
    width: fit-content;
    position: relative;
    left: -9px;
}

.header__titulo {
    margin-bottom: 0;
    font-size: 1em;
    position: relative;
    top: 5px;
}

.header__contenido{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__div {
    width: 50%;
}

.div2 {
    margin-top: 30px;
    width: 350px;
    text-align: justify;
}

.div2__apartado {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
}

.barra_avance {
    width: 30%;
    margin-top: 15px;
    font-size: 1em;
    font-weight: bold;
}

.barra {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    position: relative;
    margin-top: 12px;
    border-radius: 4px;
    
}
.raya {
    width: 16.67%;
    background-color: #333;
    position: absolute;
    height: 2px;
    border-radius: 2px;
}

.tituloo {
    margin: 2px;
}

.header__párrafo {
    font-size: 1em;
}

.boton {
    border-radius: 50px;
    padding: 8px 25px;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #000;
    text-transform: uppercase;
    font-family: 'SF Pro Display';
    font-size: 1em;
    margin-top: 50px;
    margin-bottom: 30px;
}

.imagen__header {
    max-width: 100%;
    margin: 15px 0;
}

.división_header {
    margin: 15px 0;
    margin-top: 15px;
}
.main__sección1 {
    display: flex;
    justify-content: space-between;
}

.main__sección1_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boton2 {
    margin-top: 20px;
}

.flechas_main {
    display: flex;
    justify-content: end;
    margin: 8px;
    gap: 17px;
}

#cuenta_atrás {
    color: #ddd;
}

.main__letrapequeña {
    font-size: 4em;
    width: 30%;
    font-weight: 100;
    margin: 10px;
    text-transform: uppercase;
}

.main__sección2 {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.main__sección2_imagenes {
    width: 300px;
}

.main__imagen {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.Otros_porches {
    object-position: 80%;
}
.modelo {
    color: #ccc;
    margin: 0;
    text-transform: uppercase;
}

.negrita {
    margin: 0;
    text-transform: uppercase;
}

.principal_división {
    margin: 50px 0;
}
.main_2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.main2_p {
    width: 210px;
    text-align: justify;
}

.main2_raya {
    margin: 20px 0 40px 0;
    transform: scaleY(2);
}

.main2_imagen {
    width: 800px;
}

.boton3 {
    margin: 40px;
    margin-bottom: 40px;
}

strong {
    text-transform: uppercase;
    font-weight: 500;
    display: block;
}

.main__letrapequeña {
    margin-left: 0;
}

.main3_imagenes {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 40px 0;
}

.main3_imagenes2 {
    width: 300px;
}

.main3_texto {
    font-size: 1em;
    width: 95%;
    text-align: justify;
}
.main3_div2 {
    display: flex;
    justify-content: end;
    gap: 50px;
    align-items: center;
    margin: 80px 0;
}

.main_circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    top: -35px;
}

.main_texto_para_circulo {
    text-transform: uppercase;
    text-align: center;
}

.Porche_rojo {
    object-fit: cover;
    width: 728px;
    height: 317px;
    border-radius: 20px;
}

.texto_en_negro {
    margin-top: 45px;
}

.subtitulos_porcherojo {
    margin-top: 8px;
    font-size: 1em;
    font-style: italic;
    font-weight: 300;
    color: #333;
}

.footer_división {
    margin: 50px 0;
    margin-top: 120px;
}
.footer {
    display: flex;
    justify-content: space-between;
}

.footer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-seccion-titulo {
    font-size: 4em;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    width: 90%;
    margin-bottom: 10px;
}

.footer-correo-input {
    margin: 20px 0;
    padding: 10px;
    width: 30%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    outline: 0;
    color: #333;
}

#footer-correo-icono {
    position: relative;
    right: 20px;
    font-size: 1em;
}

.footer-correo-input::placeholder {
    color: #ccc;
}

.footer-metodos-pago {
    display: flex;
    gap: 50px;
    margin: 50px 0;
}

.footer-segunda-parte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-primera-sesion {
    display: flex;
    gap: 40px;
}

.footer-menu-navegacion {
    width: 100px;
}

.footer-titulo-menu, .footer-titulo-productos {
    margin-bottom: 30px;
}

.footer-lista-menu, .footer-lista-productos {
    padding: 0;
}

.footer-menu-item, .footer_producto_item {
    list-style: none;
    padding: 5px 0;
    width: 100px;
}

.footer-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 250px;
}

.footer-boton-uno {
    margin-top: 50px;
}

.footer-boton-dos {
    width: 150px;
}

.footer-productos-tienda {
    width: 120px;
}

.footer-lista-productos {
    width: 150px;
}

.footer_producto_item {
    width: 150px;
}

.footer-segunda-sesion {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
    align-items: baseline;
}

.footer-iconos-sociales {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 70px;
    margin-left: 30px;
}

.footer-expandir {
    transform: scale(1.5);
}
