body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
    max-width: 1312px;
    margin: auto;
}

hr {
    height: 1px;
    border: none;
    background-color: #000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav__logo {
    border: solid black 2px;
    font-family: Bahn Pro Regular;
    font-size: 30px;
    height: fit-content;
    width: 100px;
    text-align: center;
}

.nav__lista {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 50%;
    padding: 0;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 1.1em;
}

.nav__item {
    list-style: none;
    margin: auto;
    padding: 10px;
    transform: scale(.8);
}

.nav__enlace {
    text-decoration: none;
    color: #000;
}

.nav__iconos {
    display: flex;
    gap: 20px;
    scale: 1.2;
}

.nav__lista2 {
    display: flex;
    padding: 20px;
    gap: 20px;
    padding-right: 5px;
}

.nav__item2 {
    list-style: none;
}

.espacios_en_nav {
    margin-bottom: 50px;
}
@media screen and (max-width: 1100px) {
    .nav__lista {
        width: 70%;
    }
    .nav__logo {
        margin-left: 10px;
    }
}

@media screen and (max-width: 900px) {
    .nav__lista {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .nav {
        width: 100%;
    }
    
    .nav__lista {
        margin: 0;
    }
    .nav__lista2 {
        margin: 0;
        padding: 10px;
        flex-direction: column;
    }
    .nav__item {
        margin: 0;
    }
    .nav__logo {
        margin: 0;
    }
}
header {
    margin: auto;
}

.tituloo {
    font-size: 96px;
    font-weight: 500;
    width: fit-content;
    position: relative;
    left: -5px;
}

.header__titulo {
    margin-bottom: 0;
    font-size: .8em;
    position: relative;
    top: 5px;
}

.header__contenido{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__div {
    width: 70%;
}

.div2 {
    margin-top: 40px;
    width: 350px;
    text-align: justify;
}

.div2__apartado {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.barra-avance {
    width: 40%;
    margin-top: 10px;
    font-size: .9em;
    font-weight: bold;
}

.barra {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    position: relative;
    margin-top:10px;
    border-radius: 2px;
    
}

.raya {
    width: 16.67%;
    background-color: #333;
    position: absolute;
    height: 2px;
    border-radius: 2px;
}

.tituloo {
    margin: 0;
}

.header__párrafo {
    font-size: .85em;
}

.boton {
    border-radius: 50px;
    padding: 8px 25px;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #000;
    text-transform: uppercase;
    font-family: 'SF Pro Display';
    font-size: 1em;
}

.imagen__header {
    max-width: 100%;
    margin: 20px 0;
}

.division_header {
    margin: 10px 0;
    margin-top: 45px;
}
